.container {
    min-height: 100vh;
}

.PageTitle {
    margin: auto 0;
    padding: 5px;
    border: solid black 2px;
    text-align: center;
    font-size: 50px;
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: rgb(146, 49, 184);
    color: white;
    border-radius: 10px;
}

#title {
    font-weight: bold;
}

.backgroundSite {
    background-color: rgb(158, 45, 202);
}

#tableColors {
    background-color: rgba(206, 61, 206, 0.884);
    margin-top: 50px;
}

#editBugButton {
    background-color: rgb(223, 58, 174);
    border-style: none;
    margin: 0 auto;
    padding: 10px 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

#editBugButton:hover {
    background-color: rgb(129, 2, 179);
}

#createBugButton {
    background-color: rgb(129, 2, 179);
    border-style: none;
    padding: 10px 10px;
    margin: 10px 5px;
    float: right;
    font-weight: bolder;
}

#createBugButton:hover {
    background-color: rgb(223, 58, 174);
}

#title {
    margin: 0;
    border: 3px solid black;
    padding: 0;
}

.sortingButton {
    margin: 10px 10px;
}

table,
th,
td {
    border: 3px solid black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px;
    font-weight: bold;
}

th {
    margin: 0 auto;
    text-align: center;
    width: 220px;
    cursor: pointer;
    padding-top: 20px;
}

th:hover {
    color: rgb(189, 127, 230);
}

#colorBacTR {
    background-color: rgb(129, 2, 179);
}

#backgroundComms {
    background-color: rgb(158, 45, 202);
}

.paginationMenu {
    float: right;
}

.searchbars {
    margin: 0 auto;
    margin-top: 15px;
}

.searchbars input {
    border: 3px solid black;
    width: 20%;
    display: inline;
    margin: 10px 10px;
    border-radius: 15px;
    font-weight: bold;
}

.searchbars button {
    background-color: rgb(129, 2, 179);
    padding: 10px;
    border: none;
    color: white;
    border-radius: 15px;
}

.searchbars button:hover {
    background-color: rgb(223, 58, 174);
}

.pagination a {
    background-color: rgb(129, 2, 179);
    color: beige;
    border: 1px dotted black;
}

.pagination a:hover {
    cursor: pointer;
    background-color: rgb(223, 58, 174);
}

#cure {
    background-color: rgb(223, 58, 174);
    border: dotted 1px black;
}