<body [@simpleFadeAnimation]="'in'">
    <div class="backgroundSite">
        <div class="PageTitle">
            <p id="title">BUG REPORTS</p>
        </div>
        <button type="button" routerLink="createbug" id="createBugButton" class="btn btn-primary">Create new Bug</button>
        <div class="container" style="height:100%">
            <div class="row">
                <div class="col-sm-12">
                    <div class="searchbars">
                        <form [formGroup]="searchBug">
                            <input class="form-control" formControlName="title" type="text" placeholder="Enter a title">
                            <input class="form-control" formControlName="status" type="text" placeholder="Enter a status">
                            <input class="form-control" formControlName="priority" type="text" placeholder="Enter a priority">
                            <input class="form-control" formControlName="reporter" type="text" placeholder="Enter a reporter">
                            <button (click)="onSearch('','')" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="margin: 0 auto;">
                    <div>
                        <table id="tableColors" class="table table-dark">
                            <tr id="colorBacTR">
                                <th (click)="onShort('title' , ',desc')">BUG TITLE ↕</th>
                                <th (click)="onShort('priority',',desc')">BUG PRIORITY ↕</th>
                                <th (click)="onShort('reporter',',desc')">BUG REPORTER ↕</th>
                                <th (click)="onShort('createdAt',',desc')">BUG CREATION ↕</th>
                                <th (click)="onShort('status',',desc')">ITEM STATUS ↕</th>
                                <th>EDIT BUGS</th>
                            </tr>
                            <tbody>
                                <tr *ngFor="let item of items" [@simpleFadeAnimation]="'in'">
                                    <td>{{item.title }}</td>
                                    <td>{{item.priority}}</td>
                                    <td>{{item.reporter}}</td>
                                    <td>{{item.createdAt | date}}</td>
                                    <td>{{item.status}}</td>
                                    <td><button type="button" id="editBugButton" class="btn btn-primary" (click)="onClickId(item.id)">Edit</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav style="float: right;">
                            <ul class="pagination">
                                <li *ngIf="currentPage > 0"><a (click)="nextPreviousPage(-1)" class="page-link">Previous</a></li>
                                <li *ngIf="pages && currentPage> 0"><a (click)="open(currentPage-1)" class="page-link">{{pages[currentPage-1]}}</a></li>
                                <li *ngIf="pages"><a (click)="open(currentPage)" class="page-link" id="cure">{{pages[currentPage]}}</a></li>
                                <li *ngIf="pages && currentPage<lastPage-1"><a (click)="open(currentPage+1)" class="page-link">{{pages[currentPage+1]}}</a></li>
                                <li *ngIf="currentPage < lastPage-1"><a (click)="nextPreviousPage(1)" class="page-link">Next</a></li>
                            </ul>
                            <span style="float: right;">Total pages : {{lastPage}}</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>