<body [@simpleFadeAnimation]="'in'">
    <div class="bgColorsite">
        <button id="homebutton" type="button" routerLink="" class="btn-primary">Back to Home Page</button>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <form [formGroup]="createBugForm" (ngSubmit)="onFormSubmit()">
                        <label for="Textarea" style="margin-top: 20px;">Please Enter The Bug Title</label>
                        <input class="form-control" id="title" formControlName="title" type="text" placeholder="Enter a title referred to the bug" required minlength="4">
                        <div *ngIf="title.invalid && title.touched" style="color:red; font-weight: bold;">Min 3 Max 20 characters</div>

                        <label for="Textarea">Description</label>
                        <textarea class="form-control" formControlName="description" placeholder="Enter a description referred to the bug"></textarea>
                        <div *ngIf="description.invalid && description.touched" style="color:red; font-weight: bold;">Min 3 Max 40 characters</div>
                        <label>Choose the Bug priority</label>
                        <div class="Priority">
                            <input formControlName="priority" style="margin-top: 20px; padding: 15px;" id="minor" name="priority" type="radio" value="1">
                            <label for="minor" class="form-check-label" for="minor" style="color:green; padding-left:8px">Minor</label>
                        </div>
                        <div class="Priority">
                            <input formControlName="priority" style="margin-top: 20px; padding: 15px;" id="major" name="priority" type="radio" value="2">
                            <label for="major" class="form-check-label" for="major" style="color:blue; padding-left:8px">Major</label>
                        </div>
                        <div class="Priority">
                            <input formControlName="priority" style="margin-top: 20px; padding: 15px;" id="critical" name="priority" type="radio" value="3">
                            <label for="critical" style="color:red; padding-left:8px">Critical</label>
                        </div>
                        <div *ngIf="priority.invalid && priority.touched" style="color:red; font-weight: bold;">Please choose priority</div>
                        <label>Choose the Bug reporter</label>
                        <div class="Reporter">
                            <input formControlName="reporter" style="margin-top: 20px; padding: 15px;" id="qa" name="reporter" type="radio" value="QA">
                            <label for="qa" style="color:green; padding-left:8px">QA</label>
                        </div>
                        <div class="Reporter">
                            <input formControlName="reporter" style="margin-top: 20px; padding: 15px;" id="po" name="reporter" type="radio" value="PO">
                            <label for="po" style="color:blue; padding-left:8px">PO</label>
                        </div>
                        <div class="Reporter">
                            <input formControlName="reporter" style="margin-top: 20px; padding: 15px;" id="dev" name="reporter" type="radio" value="DEV">
                            <label for="dev" style="color:red; padding-left:8px">DEV</label>
                        </div>
                        <div *ngIf="reporter.invalid && reporter.touched" style="color:red; font-weight: bold;">Please choose a reporter</div>
                        <label>Choose the Bug status</label>
                        <div class="Status">
                            <input formControlName="status" style="margin-top: 20px; padding: 15px;" id="done" name="status" type="radio" value="Done">
                            <label for="done" style="color:green; padding-left:8px">Done!</label>
                        </div>
                        <div class="Status">
                            <input formControlName="status" style="margin-top: 20px; padding: 15px;" id="test" name="status" type="radio" value="Ready for test">
                            <label for="test" style="color:blue; padding-left:8px">Ready for test!!</label>
                        </div>
                        <div class="Status">
                            <input formControlName="status" style="margin-top: 20px; padding: 15px;" id="reject" name="status" type="radio" value="Rejected">
                            <label for="reject" style="color:red; padding-left:8px">Rejected!!!</label>
                            <div *ngIf="status.invalid && status.touched" style="color:red; font-weight: bold;">Please choose a status</div>
                        </div>
                        <button *ngIf="!divShow" id="submitButton" type="submit" class="btn btn-secondary" [disabled]="createBugForm.invalid">SUBMIT</button>
                        <button type="reset" class="btn-light" style="padding: 10px 10px; margin:20px 10px; display:block;">Reset</button>

                        <div class="buttonsGeneral" *ngIf="divShow">
                            <button type="button" class="btn-primary" (click)=onPutFormUpdate(1) id="updateBugBut" [disabled]="createBugForm.invalid">Update Bug Values</button>
                            <button type="button" (click)="onDeleteBug()" class="btn-primary" id="delete">Delete Bug</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8" style="margin-bottom: 40px;">
                    <div class="commentForm">
                        <form [formGroup]="commentS" (ngSubmit)="onPutFormUpdate(2)">
                            <div *ngIf="divShow">
                                <label for="Textarea" style="margin-top: 20px;">Enter the reporter's name</label>
                                <input class="form-control" formControlName="reporter" type="text" placeholder="Enter the name of the reporter" minlength="3" maxlength="12">
                                <div *ngIf="reporterCom.invalid && reporterCom.touched" style="color:red; font-weight: bold;">Min 3 Max 12 characters</div>
                                <label for="Textarea">Comments - Free text </label>
                                <textarea class="form-control" formControlName="description" placeholder="Enter your thoughts for the bug" minlength="3" maxlength="80"></textarea>
                                <div *ngIf="descriptionCom.invalid && descriptionCom.touched" style="color:red; font-weight: bold;">Min 3 Max 12 characters</div>
                                <button id="commentSumbitBut" [disabled]="commentS.invalid" type="submit">Submit your comment</button>
                            </div>
                        </form>
                    </div>
                    <div>
                        <table *ngIf="comShow" class="showComs">
                            <tr class="alert alert-primary">
                                <th>Reporters name</th>
                                <th>Description</th>
                            </tr>
                            <tr *ngFor="let coms of previewComments">
                                <td>{{coms.reporter | uppercase }}</td>
                                <td>{{coms.description | uppercase }}</td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>



        </div>

    </div>


</body>