.col-sm-8 {
    margin: 0 auto;
    background-color: rgb(255, 200, 252);
    margin-top: 50px;
}

.col-sm-8 input {
    font-weight: bold;
}

.col-sm-8 textarea {
    font-weight: bold;
}

.btn {
    background-color: red;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

label {
    font-weight: bold;
    margin-top: 15px;
}

.bgColorsite {
    background-color: rgb(162, 51, 206);
}

.buttonsGeneral .btn-primary {
    display: inline-block;
    float: right;
    margin: 15px 5px;
    padding: 10px;
}

#homebutton {
    float: left;
    margin: 20px 20px;
    padding: 10px 10px;
}

#delete {
    float: left;
    background-color: red;
    border-style: none;
}

#delete:hover {
    background-color: rgba(255, 0, 0, 0.856)
}

#loadBut {
    font-size: 80%;
    margin-right: 150px;
}

#updateBugBut {
    background-color: rgb(255, 47, 255);
    border-style: none;
}

#updateBugBut:hover:enabled {
    background-color: green;
}

#submitButton:hover:enabled {
    background-color: green;
}

#commentSumbitBut {
    padding: 10px 5px;
    margin: 15px;
    float: right;
    background-color: blueviolet;
    color: white;
    font-size: 18px;
}

#commentSumbitBut:hover:enabled {
    background-color: green;
}

.showComs {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    background-color: rgb(233, 112, 213);
}

.Priority label,
.Priority input {
    cursor: pointer;
}

.Status label,
.Status input {
    cursor: pointer;
}

.Reporter label,
.Reporter input {
    cursor: pointer;
}

.commentForm {
    width: 80%;
    margin: 0 auto;
}